fastapi
pandas
numpy
scikit-learn
jinja2
streamlit
altair
pyarrow
pillow
requests
python-dateutil
pydeck
attrs
anyio
blinker
cachetools
certifi
charset_normalizer
click
colorama
exceptiongroup
gitpython
idna
jsonschema
markupsafe
packaging
protobuf
pydantic
pydantic_core
starlette
tenacity
toml
tornado
typing_extensions
typing_inspection
tzdata
urllib3
watchdog
